<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lts.dao.IWarehouseDao">
	<resultMap id="warehouseResultMap" type="com.lts.entity.Warehouses">
		<id column="warehouse_id" jdbcType="INTEGER" property="warehouseid" />
		<result column="warehouse_city" jdbcType="VARCHAR" property="city" />
		<result column="warehouse_name" jdbcType="VARCHAR" property="warehousename" />
		<result column="warehouse_address" jdbcType="VARCHAR" property="address" />
		<result column="warehouse_capacity" jdbcType="INTEGER" property="capacity" />
		<result column="warehouse_load" jdbcType="INTEGER" property="load" />
		<result column="warehouse_owner_id" jdbcType="INTEGER" property="ownerid" />
		<result column="warehouse_create_time" jdbcType="TIMESTAMP" property="createtime" />
		<result column="warehouse_update_time" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="warehouse_lng" jdbcType="VARCHAR" property="lng" />
		<result column="warehouse_lat" jdbcType="VARCHAR" property="lat" />
	</resultMap>

	
	<select id="findByPage" parameterType="int" resultMap="warehouseResultMap">
		select * from tb_warehouses limit #{start} , #{pageSize}
	</select>
	
	<select id="countWarehouse" resultType="int">
		select count(*) from tb_warehouses
	</select>
	
	<select id="findByCity" resultMap="warehouseResultMap">
		select * from tb_warehouses where warehouse_city = #{city}
	</select>
	
	<select id="findById" resultMap="warehouseResultMap">
		select * from tb_warehouses where warehouse_id = #{deliverWarehouseid}
	</select>
</mapper>